.password_err, .password_err_new, .error_button{
    color: red;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
}

label{
    display: inline-block;
    width: 250px;
    padding: 5px 0;
    font-size: 18px;
    font-family: 'Oswald';
    font-weight: 300;
}

.form-control{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: 1px solid lightgrey;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-line{
    margin-bottom: 15px;
}
